<h1>About Me</h1>
<p>
  You can find my details @ <%= link_to "my home page", "http://syamantak.heroku.com" %>
</p>

Or you can look me up on one of my socile profile.
<p>
    <h3>Social Profiles</h3>
    <a href="http://uk.linkedin.com/in/syamantakmukhopadhyay"><img src="images/linkedin.png" width="18" height="18" alt="Linkedin Icon" /> Network</a>
    <br/>
    <a href="http://www.facebook.com/syamantak.mukherjee"><img src="images/facebook.png" width="18" height="18" alt="Facebook Icon" /> Chat</a>
    <br/>
    <a href="http://www.twitter.com/syamantm"><img src="images/twitter.png" width="18" height="18" alt="Twitter Icon" /> Follow</a>
    <br/>
</p>