<h1>Contact</h1>
<p>
    <h3>Email</h3>
    Primary Email : <a href="mailto:syamantak.mukhopadhyay@gmail.com">syamantak.mukhopadhyay@gmail.com</a>    
</p>
<p>
    <h3>Social Profiles</h3>
    <a href="http://uk.linkedin.com/in/syamantakmukhopadhyay"><img src="images/linkedin.png" width="18" height="18" alt="Linkedin Icon" /> Network</a>
    <br/>
    <a href="http://www.facebook.com/syamantak.mukherjee"><img src="images/facebook.png" width="18" height="18" alt="Facebook Icon" /> Chat</a>
    <br/>
    <a href="http://www.twitter.com/syamantm"><img src="images/twitter.png" width="18" height="18" alt="Twitter Icon" /> Follow</a>
    <br/>
</p>