<section>
	<article class="blogPost">
		<h2>Hello!</h2>
		<p><b>
		Howdy random surfer, welcome to my blog. Now that you are here, 
		you might as well enjoy a few rambling thoughts of mine.
		</p>
		<p> 
		The evolution of world wide web continues to surprise all of 
		us to this date. We have all seen the power of web 2.0. Now whats next ? 
		The vision from its founder is of a web where machines can understand and 
		share annotated data with each other, eventually leading to a “semantic web” 
		as they call it. Coincidentally, this is also my current area of interest. 
		As such most of my posts will be on  the development of web and related technologies.
		
		</p>
		<p>
		Even though most of my posts are on technical side, I don't intend to write any 
		tutorial or how-to's in my blog.  There are capable men out there posting great 
		tutorial sessions for lesser people like me. I'll do what I do best, reflect on 
		www in my own way.</b>
		</p>
		
	</article>
</section>

<% if signed_in? %>
<%= link_to 'New Post', new_post_path %>
<% end %>
			