<section>
	<div class="welcomeTxt">
		
		<h2>Hello!</h2>
		<p>
		Howdy random surfer, welcome to my blog. Now that you are here, 
		you might as well enjoy a few rambling thoughts of mine.</big>	
		</p>
		<p> 
		The evolution of world wide web continues to surprise all of 
		us to this date. We have all seen the power of web 2.0. Now what is the next big thing ? 
		The vision from its founder, Sir Tim Berners-Lee is of a web where machines can understand and 
		share annotated data with each other, eventually leading to a “semantic web”.
		Coincidentally, this is also my current area of interest. 
		As such most of my posts will be on  the development of web and related technologies.
		
		</p>	
		
	</div>
</section>

<% if signed_in? %>
<%= link_to 'New Post', new_post_path %>
<% end %>
			