<header>
    <h1>The Flower Blog</h1>
    <nav>
        <ul>
            <li class="selected">
                <a href="#">Blog</a>
            </li>
            <li>
                <a href="#">About</a>
            </li>
            <li>
                <a href="#">Archives</a>
            </li>
            <li>
                <a href="#">Contact</a>
            </li>
            <li class="subscribe">
                <a href="#">Subscribe via. RSS</a>
            </li>
        </ul>
    </nav>
    <section id="intro">
        <header>
            <h2>Do you love flowers as much as we do?</h2>
        </header>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do 
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad 
            minim veniam, quis nostrud exercitation ullamco laboris nisi ut.
        </p>
        <img src="images/intro_flower.png" alt="Flower">
    </section>
</header>