<aside>
    
    <section>
        <header>
            <h3><%= link_to "Archive", archive_path %></h3>
        </header>
		<% @recentPosts = Post.find(:all, :order => "created_at desc", :limit => 10) %> 
        <ul>
        	<% @recentPosts.each do |post| %>
            <li>
                <%= link_to post.title, post%> on <%= post.created_at.strftime("%B %d, %Y")%>
            </li>
			<br>
            <% end %>
        </ul>
    </section>
	
	<section>
        <header>
            <h3>Categories</h3>
        </header>
		
        <ul>           
        </ul>
    </section>
</aside>
